<%- model_class = GasStation -%>

  <legend><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human %></legend>
</div>
<%= render :partial => 'form' %>
